
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 56px;
color: #000000;
}

.titulo-site{
    color: #ffffff;
    font-weight: 500;
}

            /* PAGINA 6 */
/* Cabeçalho de botões com links */ 

header{
    background-color: #001B48; 
}

li{
    display: inline-block;
    margin: 15px;
    color: #ffffff;
}

li:hover{    
    color: rgb(255, 255, 255);     
    transition: 0.20s all; 
}

hgroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.botão-cabeçalho{
    font-weight: 500;
    padding-right: 2px;
}

/* campos para preencher os dados (razão social, telefone...) */
.container {
    width: 50%;
    height: 50px;
    /* margin: 10px auto; */
    padding: 10px;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;
    display:flexbox;
}

/* div dos dados */
.campos, .em-linha {
    width: 50%;
    height: 50px;
    /* margin: 10px auto; */
    padding: 10px;
    display:flexbox;
}

/* botão criar conta */
button {
    box-sizing: border-box;
    position: relative;
    width: 400px;
    height: 50px;
    left: 423px;
    top: 5px;
    font-size: 22px;
    font-weight: 700;
}

        /* pagina 7 */
.erro{
    font-weight: 700;
}

.erro-h1 {
    text-align: center;
    font-size: 40px;
    padding: 50px
}

.erro-p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    /* padding: 10px; */
}

.botão-erro{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    height: 50px;
    left: 480px;
    top: 5px;
    font-size: 22px;
    font-weight: 500;
    background-color:#001B48;
    color: #ffffff;
}

/* PAGINA 8 */

/* div das descrições das empresas */
.descrição-pag8{
    width: 60%;
    height: 300px;
    border: 1px solid #000000;
    /* margin: 5px; */
    padding: 0 5px;
        
}

/* mequi */
.mequi-imagem{
    width: 9%;
    margin: 5px;
    padding: 5px;
}

.mequi-titulo, .mequi-descrição{
    text-align:right;
}

/* microsoft */
.microsoft-imagem{
    width: 7%;
    margin: 5px;
    padding: 5px;
}

.descrição-microsoftpag8{
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 5px auto;
    text-align: center;
    /* padding: 0 5px; */
}

.microsoft-titulo, .microsoft-descrição{
    text-align: right;
}

/* vale */
.vale-imagem{
    width: 10%;
    margin: 5px;
    padding: 5px;
}

.vale-titulo, .vale-descrição{
    text-align: right;
}


        /* PAGINA 9 */

/* .horarioh3-pag9{
    font-size: 24px;
    font-weight: 400;
} */