
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 56px;
color: #000000;
}

.titulo-site{
    color: #ffffff;
    font-weight: 500;
}

            /* PAGINA 6 */
/* Cabeçalho de botões com links */ 

header{
    background-color: #001B48; 
}

li{
    display: inline-block;
    margin: 15px;
    color: #ffffff;
}

li:hover{    
    color: rgb(2, 2, 2);     
    transition: 0.20s all; 
}

hgroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.botão-cabeçalho{
    font-weight: 500;
    padding-right: 2px;
}

/* campos para preencher os dados (razão social, telefone...) */
.container {
    width: 50%;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;
    display:flexbox;
}

/* razão social */
.razãosocial-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 110px;
    font-size: 22px;
    font-weight: 700;
}

.razãosocial1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 160px;
}
.telefone-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 210px;
    font-size: 22px;
    font-weight: 700;
}

.telefone1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 259px;
}
.email-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 310px;
    font-size: 22px;
    font-weight: 700;
}

.email1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 365px;
}
.cnpj-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 410px;
    font-size: 22px;
    font-weight: 700;
}

.cnpj1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 465px;
}
.cidade-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 510px;
    font-size: 22px;
    font-weight: 700;
}

.cidade1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 565px;
}

button
{
    position: absolute;
    width: 200px;
    height: 45px;
    left: 900px;
    top: 560px;
    font-size: 20px;
    font-weight: 700;
    background-color: #1e3774;
    color: white;
}


        /* pagina 7 */
.erro{
    font-weight: 700;
}

.erro-h1 {
    text-align: center;
    font-size: 40px;
    padding: 50px
}

.erro-p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    /* padding: 10px; */
}

.botão-erro{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    height: 50px;
    left: 480px;
    top: 5px;
    font-size: 22px;
    font-weight: 500;
    background-color:#001B48;
    color: #ffffff;
}

/* PAGINA 8 */

/* div das descrições das empresas */
.descrição-pag8{
    width: 60%;
    height: 300px;
    border: 1px solid #000000;
    /* margin: 5px; */
    padding: 0 5px;
        
}

/* mequi */
.mequi-imagem{
    width: 9%;
    margin: 5px;
    padding: 5px;
}

.mequi-titulo, .mequi-descrição{
    text-align:right;
}

/* microsoft */
.microsoft-imagem{
    width: 7%;
    margin: 5px;
    padding: 5px;
}

.descrição-microsoftpag8{
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 5px auto;
    text-align: center;
    /* padding: 0 5px; */
}

.microsoft-titulo, .microsoft-descrição{
    text-align: right;
}

/* vale */
.vale-imagem{
    width: 10%;
    margin: 5px;
    padding: 5px;
}

.vale-titulo, .vale-descrição{
    text-align: right;
}


        /* PAGINA 9 */

/* .horarioh3-pag9{
    font-size: 24px;
    font-weight: 400;
} */

.nomedaempresa-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 110px;
    font-size: 22px;
    font-weight: 700;
}

.nomedaempresa1-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 259px;
}

.cargo-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 310px;
    font-size: 22px;
    font-weight: 700;
}

.cargo1-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 365px;
}

.salario-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 410px;
    font-size: 22px;
    font-weight: 700;
}

.salario1-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 465px;
}

.descriçãodavaga-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 510px;
    font-size: 22px;
    font-weight: 700;
}

.descriçãodavaga1-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 565px;
}

.beneficios-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 610px;
    font-size: 22px;
    font-weight: 700;
}

.beneficios1-pag9 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 665px;
}

.horarios-pag9{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 765px;
}

.botão-pag9{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 965px;
}

.mapa-pag9{
    position: absolute;
    width: 560px;
    height: 400px;
    right: 70px;
    top: 100px;
}

textarea{
    resize:none;
}
