
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 56px;
color: #000000;
}

.titulo-site{
    color: #ffffff;
    font-weight: 500;
}

            /* PAGINA 6 */
/* Cabeçalho de botões com links */ 

header{
    background-color: #001B48; 
}

li{
    display: inline-block;
    margin: 15px;
    color: #ffffff;
}

li:hover{    
    color: rgb(2, 2, 2);     
    transition: 0.20s all; 
}

hgroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.botão-cabeçalho{
    font-weight: 500;
    padding-right: 2px;
}

/* campos para preencher os dados (razão social, telefone...) */
.container {
    width: 50%;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;
    display:flexbox;
}

/* razão social */
.razãosocial-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 110px;
    font-size: 22px;
    font-weight: 700;
}

.razãosocial1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 160px;
}
.telefone-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 210px;
    font-size: 22px;
    font-weight: 700;
}

.telefone1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 259px;
}
.email-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 310px;
    font-size: 22px;
    font-weight: 700;
}

.email1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 365px;
}
.cnpj-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 410px;
    font-size: 22px;
    font-weight: 700;
}

.cnpj1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 465px;
}
.cidade-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 510px;
    font-size: 22px;
    font-weight: 700;
}

.cidade1-pag6 {

    position: absolute;
    width: 360px;
    height: 45px;
    left: 70px;
    top: 565px;
}

button
{
    position: absolute;
    width: 200px;
    height: 45px;
    left: 900px;
    top: 560px;
    font-size: 20px;
    font-weight: 700;
    background-color: #1e3774;
    color: white;
}
